<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>北海情书个人博客-留言</title>
        <link rel="stylesheet" href="/css/blogs.css">
        <script src="js/jquery.min.js"></script>
        <link rel="shortcut icon" href="/images/favicon.ico">
        <script src="/js/totop.js"></script>
    </head>
    <body>
    <script>
        $(document).ready(function () {
            $('.reply').click(function () {
                $(this).next().css('display','inline-block');
                $(this).next().next().removeClass('hide');
            });
            $('.unreply').click(function () {
               $(this).css('display','none');
                $(this).next().addClass('hide');
            });
        })
    </script>
    <div class="header">
        <div class="headerTitle">
            <span class="Headline">北海&情书</span><br/>
            <span class="Subheading">愿你岁月无波澜，敬我余生不悲欢。</span>
            <!--永远别放弃自己，哪怕所有人都放弃了你-->
        </div>
        <div class="headerNav">
            <ul>
                <a href="#"><li>首页</li></a>
                <a href="/blogs"><li>博客</li></a>
                <a href="/album"><li>相册</li></a>
                <a href="/aboutMe"><li>关于我</li></a>
                <a href="/LeavingMessage"><li class="checked">留言</li></a>
                <%if(state==1){%>
                <li>欢迎您：<%=userInfo.username%></li>
                <a href="/user/Out"><li>退出</li></a>
                <%}else{%>
                <a href="/user/register"><li>注册</li></a>
                <a href="/user/login"><li>登录</li></a>
                <%}%>
            </ul>
        </div>
    </div>
    <div class="MainPart">
        <div class="MainList">
            <div class="MainFoot">大家的脚印</div>
            <%for(let i=0;i<allLeavingMessage.length;i++){ %>
                <%if(allLeavingMessage[i].isTop == '1'){
                    var topMessage=allLeavingMessage[i].messageId,topName=allLeavingMessage[i].userName;%>
            <div class="MainFootAll">
                <div class="MainFootTop">
                    <img src="./../images/foot.png">
                    <div class="MainFootuser"><%=allLeavingMessage[i].userName%>&nbsp;&nbsp;&nbsp;
                        <span><%=allLeavingMessage[i].time%></span></div>
                    <div class="MainFootMessage"><%=allLeavingMessage[i].messageText%></div>
                    <div class="reply">回复</div>
                    <div class="unreply">取消回复</div>
                    <div class="writeMessage hide">
                        <%if(state==1){%>
                        <form action="/LeavingMessage/replyMessage" method="post">
                            <textarea class="WriteBlogsAbstract" name="messageText" placeholder="留言内容"></textarea>
                            <input class="WriteMessageSubmit" type="submit" value="留下足迹"/>
                            <input type="text" name="messageReply" style="display: none;" value="<%=allLeavingMessage[i].messageId%>">
                        </form>
                        <%}else{%>
                        <form>
                        <textarea class="WriteBlogsAbstract" name="messageText" placeholder="留言内容"></textarea>
                        <input class="WriteMessageSubmit" type="submit" value="回复他" onclick="alert('请先登录，再进行回复！')"/>
                        </form>
                        <%}%>
                    </div>
                </div>
            <%for(let i=0;i<allLeavingMessage.length;i++){
                if(allLeavingMessage[i].reply==topMessage){%>
                <div class="MainFootSecondary">
                    <img src="./../images/foot.png">
                    <div class="MainFootuser"><%=allLeavingMessage[i].userName%>&nbsp;&nbsp;
                        <span>回复</span>&nbsp;&nbsp;<%=topName%>&nbsp;&nbsp;&nbsp;<span><%=allLeavingMessage[i].time%></span></div>
                    <div class="MainFootMessage"><%=allLeavingMessage[i].messageText%></div>
                </div>
            <%}}%>
            </div>
            <%}else{continue;}}%>
            <div class="writeMessage">
                <%if(state==1){%>
                <form action="/LeavingMessage/writeMessage" method="post">
                    <textarea class="WriteBlogsAbstract" name="messageText" placeholder="留言内容"></textarea>
                    <input class="WriteMessageSubmit" type="submit" value="留下足迹"/>
                </form>
                <%}else{%>
                <textarea class="WriteBlogsAbstract" name="messageText" placeholder="留言内容"></textarea>
                <input class="WriteMessageSubmit" type="submit" value="留下足迹" onclick="alert('请先登录，再进行留言！')"/>
                <%}%>
            </div>
        </div>
        <div class="MainNav">
            <input class="MainSearch" type="text" placeholder="文章名称">
            <div class="MainNavList">
                <div class="MainNavListTitle">最新文章</div>
                <%for(let i=0;i<=5;i++){%>
                <div class="MainNavListBlogs">
                    <a href='<%=allBlog[i].src%>'>
                        <%=allBlog[i].title%>
                    </a>
                </div>
                <%}%>
            </div>
            <div class="MainNavList">
                <div class="MainNavListTitle">博客专栏</div>
                <%for(let i=0;i<allClssify.length;i++){%>
                <div class="MainNavListBlogs">
                    <a href='<%=allClssify[i].src%>'>
                        <%=allClssify[i].classify%>
                    </a>
                </div>
                <%}%>
            </div>
            <div class="MainNavList">
                <div class="MainNavListTitle">归档</div>
                <div class="MainNavListBlogs">2018年8月</div>
                <div class="MainNavListBlogs">2018年9月</div>
                <div class="MainNavListBlogs">2018年10月</div>
                <div class="MainNavListBlogs">2018年11月</div>
                <div class="MainNavListBlogs">2018年12月</div>
                <div class="MainNavListBlogs">2019年1月</div>
                <div class="MainNavListBlogs">2019年2月</div>
            </div>
        </div>
    </div>
    <div class="footer">
        Support a lot&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/blogs">博客</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/album">相册</a>&nbsp;&nbsp;| &nbsp;&nbsp;
        <a href="/LeavingMessage">留言板</a><br/>
        本站总访问量：365413 次<br/>
        Copyright © <a href="#">北海&情书</a>. Copyright ownership, piracy must be investigated
    </div>
    <div class="toTop" onclick="totop()">
        <img src="/images/toTop.png" alt="">
    </div>
    </body>
</html>